<div class="column-3 first" id="docsnav">
  <form action="/search">
    <div id="search">
      <input type="text" name="q" size="25" value="<%= params[:q] || '' %>" />
    </div>
  </form>

  <ul>
    <% sections.each do |slug, title, topics| %>
      <li>
      <h3><%= title %></h3>
      <ul>
        <% topics.each do |slug, title, _| %>
          <% if params[:topic] == slug %>
            <li class="current"><a><%=h title %></a></li>
          <% else %>
            <li><a href="/<%= slug %>"><%=h title %></a></li>
          <% end %>
        <% end %>
      </ul>
      </li>
    <% end %>
  </ul>
</div>

<div id="docscontent" class="column-9 last">
  <div class="topic_content">
    <%= yield %>
  </div>
</div>
<div class="clear"></div>
